# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Git & IDEs
.git/
.gitignore
.idea/
.vscode/
*.swp
*.swo

# Temporary & Log files
*.log
.system_generated/
scratch/

# OS specific
.DS_Store
Thumbs.db
